<a href="https://www.kaggle.com/code/mahmoudlinux/imdb-data-2006-to-2016?scriptVersionId=196799828" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# <center>Pandas Hands-On Practice 01 by Mahmoud Linux</center>
---

### <center>  IMDB data from 2006 to 2016</center>
**DataSet link:** https://www.kaggle.com/datasets/PromptCloudHQ/imdb-data

**Dateset Description:** <br>
Here's a data set of 1,000 most popular movies on IMDB in the last 10 years.<br> 

The data points included are:<br>
Title, Genre, Description, Director, Actors, Year, Runtime, Rating, Votes, Revenue, Metascrore

### 00. Import the needed libraries and Read the dataset

In [1]:
import pandas as pd

file = pd.read_csv("/kaggle/input/imdb-data/IMDB-Movie-Data.csv")

### 01. Display Top 10 Rows of The Dataset

In [2]:
file.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

### 02. Check Last 10 Rows of The Dataset

In [3]:
file.tail(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 03. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [4]:
print("Number of Rows:- ",file.shape[0] , "\n" , "Number of Columns:- ",file.shape[1] )

Number of Rows:-  1000
 Number of Columns:-  12

### 04. Getting Information About Our Dataset Like: <br> 
Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [5]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

### 05. Check Missing Values In The Dataset.

In [6]:
file.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [7]:
file[(file.isna().any(axis=1) == True)]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

### 6. Handle The  Missing Values

In [8]:
file = file.fillna(0)

In [9]:
file.iloc[6:9]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,0.00,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0

### 7. Manage Duplicated Data
- Check for duplicates.
- Count the number of duplicates.
- Display the duplicated values.
- Remove duplicates if necessary.

In [10]:
print("number of duplicated date:- ",file.duplicated().sum())
file[file.duplicated()]

number of duplicated date:-  0

Empty DataFrame
Columns: [Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore]
Index: []

In [11]:
file.drop_duplicates(inplace=True)
file

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,0.00,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,0.00,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 8. Get Overall Statistics About The DataFrame

In [12]:
file.describe().astype("int64")

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000,1000,1000,1000,1000,1000,1000
mean,500,2012,113,6,169808,72,55
std,288,3,18,0,188762,100,22
min,1,2006,66,1,61,0,0
25%,250,2010,100,6,36309,3,43
50%,500,2014,111,6,110799,37,58
75%,750,2016,123,7,239909,99,71
max,1000,2016,191,9,1791916,936,100

In [13]:
file.sum(numeric_only=True).astype("int64").to_frame(name=("Value"))

                        Value
Rank                   500500
Year                  2012783
Runtime (Minutes)      113172
Rating                   6723
Votes               169808255
Revenue (Millions)      72337
Metascore               55210

### 9. Display Title of The Movie Having Runtime >= 180 Minutes

In [14]:
file[file["Runtime (Minutes)"] >= 180]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
82,83,The Wolf of Wall Street,"Biography,Comedy,Crime","Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...",2013,180,8.2,865134,116.87,75.0
88,89,The Hateful Eight,"Crime,Drama,Mystery","In the dead of a Wyoming winter, a bounty hunt...",Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",2015,187,7.8,341170,54.12,68.0
311,312,La vie d'Adèle,"Drama,Romance","Adèle's life is changed when she meets Emma, a...",Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...",2013,180,7.8,103150,2.20,88.0
828,829,Grindhouse,"Action,Horror,Thriller",Quentin Tarantino and Robert Rodriguez's homag...,Robert Rodriguez,"Kurt Russell, Rose McGowan, Danny Trejo, Zoë Bell",2007,191,7.6,160350,25.03,0.0
965,966,Inland Empire,"Drama,Mystery,Thriller",As an actress starts to adopt the persona of h...,David Lynch,"Laura Dern, Jeremy Irons, Justin Theroux, Karo...",2006,180,7.0,44227,0.00,0.0

### 10. In Which Year There Was The Highest Average Voting?

In [15]:
int(file["Year"].iloc[int(file["Votes"].sort_values(ascending=False).index[0])])

2008

In [16]:
int(file["Year"].iloc[file["Votes"].idxmax(skipna=True)])

2008

### 11. In Which Year There Was The Highest Average Revenue?

In [17]:
everyyear = file.groupby(by="Year")["Revenue (Millions)"].mean()

everyyear

Year
2006     82.374091
2007     81.249623
2008     97.177308
2009    103.769804
2010     99.827500
2011     86.221587
2012    107.973281
2013     84.249670
2014     81.606122
2015     69.717480
2016     37.749663
Name: Revenue (Millions), dtype: float64

In [18]:
print(f"Highest year:- \t {everyyear.idxmax()}")

Highest year:- 	 2012

### 12. Find The Average Rating For Each Director

In [19]:
file.groupby("Director")["Rating"].mean().sort_values(ascending=False)

Director
Nitesh Tiwari        8.80
Christopher Nolan    8.68
Olivier Nakache      8.60
Makoto Shinkai       8.60
Aamir Khan           8.50
                     ...
Micheal Bafaro       3.50
Jonathan Holbrook    3.20
Shawn Burkett        2.70
James Wong           2.70
Jason Friedberg      1.90
Name: Rating, Length: 644, dtype: float64

### 13. Display Top 10 Lengthy Movies Title and Runtime

In [20]:
file[["Title","Runtime (Minutes)"]].sort_values(by="Runtime (Minutes)",ascending=False).head(10)

                                        Title  Runtime (Minutes)
828                                Grindhouse                191
88                          The Hateful Eight                187
965                             Inland Empire                180
311                            La vie d'Adèle                180
82                    The Wolf of Wall Street                180
267                               Cloud Atlas                172
430                                  3 Idiots                170
75   Pirates of the Caribbean: At World's End                169
271         The Hobbit: An Unexpected Journey                169
36                               Interstellar                169

### 14. Display Number of Movies Per Year

In [21]:
file["Year"].value_counts()

Year
2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: count, dtype: int64

### 15. Find Most Popular Movie Title (Higest Revenue)

In [22]:
file.sort_values(by=["Revenue (Millions)"],ascending=False)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
50,51,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",Three decades after the defeat of the Galactic...,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,661608,936.63,81.0
87,88,Avatar,"Action,Adventure,Fantasy",A paraplegic marine dispatched to the moon Pan...,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009,162,7.8,935408,760.51,83.0
85,86,Jurassic World,"Action,Adventure,Sci-Fi","A new theme park, built on the original site o...",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins,...",2015,124,7.0,455169,652.18,59.0
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...
786,787,The Secret Scripture,Drama,A woman keeps a diary of her extended stay at ...,Jim Sheridan,"Rooney Mara, Eric Bana, Theo James, Aidan Turner",2016,108,6.8,378,0.00,37.0
70,71,The Promise,"Drama,History",Set during the last days of the Ottoman Empire...,Terry George,"Oscar Isaac, Charlotte Le Bon, Christian Bale,...",2016,133,5.9,149791,0.00,49.0
213,214,Old Boy,"Action,Drama,Mystery","Obsessed with vengeance, a man sets out to fin...",Spike Lee,"Josh Brolin, Elizabeth Olsen, Samuel L. Jackso...",2013,104,5.8,54679,0.00,49.0
463,464,Predestination,"Drama,Mystery,Sci-Fi","For his final assignment, a top temporal agent...",Michael Spierig,"Ethan Hawke, Sarah Snook, Noah Taylor, Madelei...",2014,97,7.5,187760,0.00,69.0
820,821,Suite Française,"Drama,Romance,War",During the early years of Nazi occupation of F...,Saul Dibb,"Michelle Williams, Kristin Scott Thomas, Margo...",2014,107,6.9,13711,0.00,0.0

### 16. Display Top 10 Highest Rated Movie Titles And its Directors

In [23]:
file[["Title","Director","Rating"]].sort_values("Rating",ascending=False).head(10)

                Title           Director  Rating
54    The Dark Knight  Christopher Nolan     9.0
80          Inception  Christopher Nolan     8.8
117            Dangal      Nitesh Tiwari     8.8
36       Interstellar  Christopher Nolan     8.6
96      Kimi no na wa     Makoto Shinkai     8.6
249  The Intouchables    Olivier Nakache     8.6
133          Whiplash    Damien Chazelle     8.5
64       The Prestige  Christopher Nolan     8.5
99       The Departed    Martin Scorsese     8.5
991  Taare Zameen Par         Aamir Khan     8.5

### 17. Display Top 10 Highest Revenue Movie Titles

In [24]:
file[["Title","Revenue (Millions)"]].sort_values("Revenue (Millions)",ascending=False).head(10).iloc[:,0].to_frame("Movie Tiles")

                                    Movie Tiles
50   Star Wars: Episode VII - The Force Awakens
87                                       Avatar
85                               Jurassic World
76                                 The Avengers
54                              The Dark Knight
12                                    Rogue One
119                                Finding Dory
94                      Avengers: Age of Ultron
124                       The Dark Knight Rises
578             The Hunger Games: Catching Fire

### 18.  Find Average Rating of Movies Year Wise

In [25]:
file.groupby(by="Year")["Rating"].mean()

Year
2006    7.125000
2007    7.133962
2008    6.784615
2009    6.960784
2010    6.826667
2011    6.838095
2012    6.925000
2013    6.812088
2014    6.837755
2015    6.602362
2016    6.436700
Name: Rating, dtype: float64


### 19. Count Number of Action Movies

In [26]:
int(file["Genre"].str.contains("action",case=False).sum())

303

### 20. Find Unique Values From Genre

In [27]:
pd.DataFrame(file["Genre"].unique(),columns=["Unique Genre"])

                 Unique Genre
0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
..                        ...
202     Drama,Fantasy,Musical
203          Adventure,Family
204  Adventure,Comedy,Fantasy
205        Drama,Family,Music
206     Comedy,Family,Fantasy

[207 rows x 1 columns]

### 21. How Many Films of Each Genre Were Made?

In [28]:
Genere= file["Genre"].str.split(",",expand=True)
Genere

             0          1        2
0       Action  Adventure   Sci-Fi
1    Adventure    Mystery   Sci-Fi
2       Horror   Thriller     None
3    Animation     Comedy   Family
4       Action  Adventure  Fantasy
..         ...        ...      ...
995      Crime      Drama  Mystery
996     Horror       None     None
997      Drama      Music  Romance
998  Adventure     Comedy     None
999     Comedy     Family  Fantasy

[1000 rows x 3 columns]

In [29]:
AllGenere= Genere.melt()["value"]
AllGenere

0          Action
1       Adventure
2          Horror
3       Animation
4          Action
          ...
2995      Mystery
2996         None
2997      Romance
2998         None
2999      Fantasy
Name: value, Length: 3000, dtype: object

In [30]:
AllGenere.value_counts()

value
Drama        513
Action       303
Comedy       279
Adventure    259
Thriller     195
Crime        150
Romance      141
Sci-Fi       120
Horror       119
Mystery      106
Fantasy      101
Biography     81
Family        51
Animation     49
History       29
Sport         18
Music         16
War           13
Western        7
Musical        5
Name: count, dtype: int64

### <center>`You've made incredible progress!` </center>
### <center>`Keep up the great work and believe in yourself!`</center>